/* index */

/* cloud container */
.cloudsContainer {
    position: absolute;
    top: 30vh;
    left: 5vw;
    width: 30vw;
    height: auto;
    min-width: 250px;
}

/* cloud container */

/* cloud 1 */
#cloud1 {
    width: 100%;
    height: 12vw;
    min-height: 100px;
    max-height: 200px;
    background: #ECEFF1;
    border-radius: 100px;
    position: absolute;
    box-shadow: 1vw 1vw rgba(0, 0, 0, 0.2);
    top: -100px;
}

/* bubbles */
#cloud1::after,
#cloud1::before {
    content: "";
    position: absolute;
    background: inherit;
    border-radius: 90%;
}

/* left bubble */
#cloud1::after {
    width: 40%;
    height: 90%;
    top: -40%;
    left: 20%;
}

/* right bubble */
#cloud1::before {
    width: 55%;
    height: 150%;
    top: -60%;
    left: 40%;
}

/* cloud 2 */

#cloud2 {
    width: 140%;
    height: 20vw;
    min-height: 120px;
    max-height: 200px;
    background: #ffffff;
    border-radius: 100px;
    position: absolute;
    box-shadow: 1vw 1vw rgb(127, 165, 166);
    top: 110px;
    right: -80vw;
}

/* bubbles */
#cloud2::after,
#cloud2::before {
    content: "";
    position: absolute;
    background: inherit;
    border-radius: 90%;
}

/* left bubble */
#cloud2::after {
    width: 50%;
    height: 80%;
    top: 15%;
    left: -10%;
}

/* right bubble */
#cloud2::before {
    width: 70%;
    height: 135%;
    top: -35%;
    left: 15%;
}

/* cloud 3 */

#cloud3 {
    width: 80%;
    height: 8vw;
    min-height: 100px;
    max-height: 200px;
    background: #ffffff;
    border-radius: 100px;
    position: absolute;
    box-shadow: 1vw 1vw rgb(127, 165, 166);
    top: 230px;
    right: 35%;
}

/* bubbles */
#cloud3::before {
    content: "";
    position: absolute;
    background: inherit;
    border-radius: 90%;
}


/* right bubble */
#cloud3::before {
    width: 75%;
    height: 135%;
    top: -35%;
    left: 10%;
}

/* index */