/* bootstrap colour override */
.bg-success {
  background-color: #09909f !important;
}

.btn-primary {
  background-color: #0a4e89 !important;
}

.btn-secondary {
  background-color: #14aba1 !important;
}

/* bootstrap colour override */


/* index page */

.CTA {
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #0c96a5, white);
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
}

.ctacontent {
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 100px;
}

.descriptionContainer {
  display: grid;
  grid-template-areas:
    'rowone rowone'
    'rowtwo rowtwo';
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border: 2px solid white;
  padding: 2rem;
}

.jumbotron {
  grid-area: rowone;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jumbotron img {
  border-radius: 50%;

}

.petsinfo {
  grid-area: rowtwo;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#petsleft {
  padding: 5%;
}

.petsinfo img {
  border-radius: 50%;
}



/* index page */

/* for task page, mostly placeholder 
of what things will look like for now. personal note for dan to
edit later
*/

#listtitle {
  font-size: 5vh;
  padding-top: 2vh;
}

.list {
  padding-top: 2vh;
  margin: 2vh;
  border-radius: 1dvh;
  border: 2px #09909f solid;
  background-color: #09909f;
  list-style-position: inside;
}

.list p {
  margin: 1vh;
  border-radius: 1dvh;
  border: 8px #ffffff solid;
  background-color: #ffffff;
}

#placeholderlist, #placeholdergroups {
  padding: 2vh;
}


#addbutton, #editGoalButton,
#addGroupButton, #editGroupButton {
  padding-top: 12px;
  margin: 2vh;
}

/* task page end */

/*profile page start */
.acc_button,
.progress_button,
.log_button {
  padding-top: 2vh;
  margin: 5vh;
  border-radius: 10dvh;
  border: 2px rgb(226, 226, 226) solid;
  background-color: rgb(226, 226, 226);
  list-style-position: inside;
  text-align: center;
}

/* profile page end */


/* addtask page */
.goalForm {
  margin: 40px;
}

/* addtask page */